$farba1: midnightblue;
$farba2: cornflowerblue;
$farba3: white;

body {
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

#stranka {
  background-color: $farba2;
  border: solid 10px $farba1;
  width: 80%;
  height: 80%;
  padding: 2%;
  margin: auto;
}

#hore {
  background-color: $farba1;
  height: 30%;
  padding: 2%;
}

label {
  color: $farba3;
}

#stred {
  padding: 2%;
  background-color: $farba1;
  height: 70%;
}

#vlavo {
  float: left;
}
#vpravo {
  float: right;
}


p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: $farba2;

  &:visited {
    color: red;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}


table,th, td {
  border: solid 3px $farba2;
  color: $farba3;
  border-collapse: collapse;
}

h1, h3 {
  color: $farba3
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;


  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }

}
